*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    transition: all 0.3 linear;
}
.main2{
    margin-top:-80px ;
   border-top: 5px solid yellow;
   
   
}
.container{
    
    width:  100%;
    height: 100vh;
    display: flex;

    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #74EbD5;
    background-image: linear-gradient(90deg,#74EbD5 0%,#9face6 100%);
   
}
.box{
    width: 300px;
    
    height: 455px;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    padding-top: 80px;
    margin: 20px;
    text-align: center;
    letter-spacing: 1px;
    box-shadow: 0 3px 5px rgba(0,0,0,.3);
    overflow: hidden;
    position: relative;
    z-index: 0;
    font-size: 20px;
}
.h3{
    font-size: 35px;
    padding: 20px;
    color: #444;
}
.box p{
    font-size: 15px;
    color: #777;
}

.box button{
    width: 140px;
    height: 40px;
    background-color: #333;
    color: white;
    border: none;
    outline: none;
    font-size: 17px;
    cursor: pointer;
    border-radius: 50px;
    margin-top: 40px;
}

.box button:hover{
    letter-spacing: 2px;
    opacity: 0.8;
}
.box::before{
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
